<section>
    <div class="container">
        <main>
            <p class="main-title">Search ToDo</p>
            <form action="#" method="post">
                <p class="search"><label for="name-field">ToDo</label>
                <input type="text" name="name" id="name-field" required>
                <span class="submit-p"><input type="submit" name="submit" value="Registration" id="submit"></span></p>
                <br>
                <table class="table-info" align="center">
                    <tr>
                        <th>#</th>
                        <th>ToDo</th>
                        <th>Flag</th>
                        <th>Status</th>
                        <th>End Date</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </form>
        </main>
    </div>
</section>